// =============================================
// BOTONES
// =============================================
@use '../abstracts' as *;

.btn-gold {
  @include btn-base;
  padding: 14px 38px;
  background: $gold;
  color: $black;
  border: 1px solid $gold;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: $gold-pale;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform $transition;
    z-index: 0;
  }

  span, i { position: relative; z-index: 1; }

  &:hover {
    color: $black;
    transform: translateY(-2px);
    box-shadow: $shadow-gold;
    &::before { transform: scaleX(1); }
  }

  &.full {
    width: 100%;
    text-align: center;
    display: block;
  }
}

.btn-outline {
  @include btn-base;
  padding: 13px 38px;
  border: 1px solid $gold;
  color: $gold;
  background: transparent;

  &:hover {
    background: $gold;
    color: $black;
    transform: translateY(-2px);
    box-shadow: $shadow-gold;
  }
}

.btn-nav {
  @include btn-base;
  padding: 10px 26px;
  background: $gold;
  color: $black;
  border: 1px solid $gold;

  &:hover {
    background: $gold-pale;
    border-color: $gold-pale;
  }
}
